section.contact ul.list-social li.social-reddit a {
  background-color: #ff4500;
}

section.contact ul.list-social li.social-reddit a:hover {
  background-color: #ff4500;
}

section.contact ul.list-social li.social-github a {
  background-color: #6e5494;
}

section.contact ul.list-social li.social-github a:hover {
  background-color: #6e5494;
}

section.contact ul.list-social li.social-mail a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-mail a:hover {
  background-color: #d73925;
}
